.home-page-tag-bar-fade-left:before {
  position: absolute;
  top: 0px;
  left: -1px;
  width: 50px;
  height: 100%;
  content: "";
  pointer-events: none;
  z-index: 1;
  background: linear-gradient(to right, var(--color-background), transparent);
}
.home-page-tag-bar-fade-right:after {
  position: absolute;
  top: 0px;
  right: -1px;
  width: 50px;
  height: 100%;
  content: "";
  pointer-events: none;
  z-index: 1;
  background: linear-gradient(to left, var(--color-background), transparent);
}
