.home-page-tag-bar-fade-left:before {
  position: absolute;
  top: 0px;
  left: -1px;
  width: 50px;
  height: 100%;
  content: "";
  pointer-events: none;
  z-index: 1;
  background: linear-gradient(to right, var(--background), transparent);
}
.home-page-tag-bar-fade-right:after {
  position: absolute;
  top: 0px;
  right: -1px;
  width: 50px;
  height: 100%;
  content: "";
  pointer-events: none;
  z-index: 1;
  background: linear-gradient(to left, var(--background), transparent);
}
.home-page-tag-bar-arrow {
  position: absolute;
  top: 0px;
  width: 28px;
  height: 30px;
  color: var(--color-gray-500);
  padding: 5px 0 0 6px;
  cursor: pointer;
}
.home-page-tag-bar-arrow:hover {
  color: var(--color-gray-700);
}
@media (max-width: 840px) {
  .home-page-tag-bar-arrow {
    display: none;
  }
}
