# Exported from Render on 2026-01-12T12:42:08Z
version: "1"
previews:
  generation: automatic
  expireAfterDays: 7
projects:
  - name: EA Forum
    environments:
      - name: Production
        services:
          - type: web
            name: ea-forum
            runtime: node
            repo: https://github.com/centre-for-effective-altruism/eaforum3
            plan: free
            envVars:
              # Prod and preview envs will both use this group
              - fromGroup: eaforum-prod
            region: virginia
            buildCommand: npm install; npm run build
            startCommand: npm run start
            autoDeployTrigger: commit
