@import "tailwindcss";

:root {
  --background: #f6f8f9;
  --foreground: rgba(0, 0, 0, 0.87);

  --color-gray-50: #ffffff;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #eeeeee;
  --color-gray-300: #e0e0e0;
  --color-gray-400: #bdbdbd;
  --color-gray-500: #9e9e9e;
  --color-gray-600: #757575;
  --color-gray-700: #616161;
  --color-gray-800: #424242;
  --color-gray-900: #212121;
  --color-gray-1000: #000000;

  --color-postitemhover: #fafafa;
  --color-postitemhover-border: #e8e8e8;
  --color-login-backdrop: rgba(217,217,217,0.5);
  --color-login-input: #efefef;
  --color-outline-button-hover: rgba(0, 0, 0, 0.035);

  --color-primary: #0c869b;
  --color-primary-light: #00b2be;
  --color-primary-dark: #085d6c;

  --spacing: 4px;

  --radius-sm: 6px;
  --radius-xs: 4px;

  --font-stack-sans: GreekFallback, Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-stack-serif: Merriweather, Baskerville, "Libre Baskerville", Georgia, serif;

  --zindex-headroom: 1300;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-stack-sans);
  --font-serif: var(--font-stack-serif);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-stack-sans);
}

.headroom-root .headroom {
  top: unset;
  left: 0;
  right: 0;
  zIndex: var(--zindex-headroom);
}
.headroom-root .headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom-root .headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.headroom-root .headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom-root .headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}
