@import "tailwindcss";

@theme {
  --breakpoint-hide-sidebar: 1370px;
  --breakpoint-mobile-nav: 1100px;

  --background: #f6f8f9;
  --foreground: rgba(0, 0, 0, 0.87);

  --color-gray-0: #ffffff;
  --color-gray-50: #ffffff;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #eeeeee;
  --color-gray-300: #e0e0e0;
  --color-gray-400: #bdbdbd;
  --color-gray-500: #9e9e9e;
  --color-gray-600: #757575;
  --color-gray-700: #616161;
  --color-gray-800: #424242;
  --color-gray-900: #212121;
  --color-gray-1000: #000000;

  --color-primary: #0c869b;
  --color-primary-light: #00b2be;
  --color-primary-dark: #085d6c;

  --color-error: #e04e4b;
  --color-warning: #832013;
  --color-warning-translucent: "rgba(255,152,0,0.1)";
  --color-postitemhover: #fafafa;
  --color-postitemhover-border: #e8e8e8;
  --color-modal-backdrop: rgba(217, 217, 217, 0.5);
  --color-login-input: #efefef;
  --color-outline-button-hover: rgba(0, 0, 0, 0.035);
  --color-tooltip-background: #373737;
  --color-posts-page-hr: #e4e4e4;
  --color-visited-link: #7130a6;
  --color-table-border: #b3b3b3;
  --color-table-cell-border: #d9d9d9;
  --color-table-header-bg: #fafafa;
  --color-spoiler-hover: rgba(0, 0, 0, 0.12);
  --color-metaculus-preview: #2c3947;
  --color-details-title: rgba(0, 0, 0, 0.3);
  --color-conditionally-visible: rgba(0, 0, 0, 0.2);
  --color-post-hr: rgba(0, 0, 0, 0.26);
  --color-comment-border: rgba(72, 94, 144, 0.16);
  --color-comment-odd: #f2f2f2;
  --color-comment-even: #fff;
  --color-people-directory-row-hover: #fbfbfb;
  --color-recent-discussions-gray: #757575;
  --color-recent-discussions-green: #72b065;
  --color-popover-dim: rgba(0, 0, 0, 0.4);
  --color-curated-star: #ffc500;

  --color-editor-bg: #fff;
  --color-editor-comment-bg: #f3f7fb;
  --color-editor-focus-bg: #fff;
  --color-editor-comment-marker: rgba(255, 241, 82, 0.5);
  --color-editor-comment-marker-active: #fdf05d;
  --color-editor-focus-background: #191919;
  --color-editor-comment-count: #009da8;
  --color-editor-sidebar-comment-count: #b3b3b3;
  --color-editor-blockquote-border: #e0e0e0;
  --color-editor-table-border: #b3b3b3;
  --color-editor-table-cell-border: #d9d9d9;
  --color-editor-table-header-bg: #202020;
  --color-editor-figcaption: rgba(0, 0, 0, 0.54);
  --color-editor-hr: rgba(0, 0, 0, 0.26);
  --color-editor-secondary-text: rgba(255, 255, 255, 0.87);
  --color-editor-comment-border: rgba(255, 255, 255, 0.15);
  --color-editor-annotation: #b3b3b3;

  --color-always-white: #fff;
  --color-always-black: #000;

  --spacing: 4px;

  --radius-sm: 6px;
  --radius-xs: 4px;

  --font-stack-sans:
    GreekFallback, Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-stack-serif: "Charis SIL", Baskerville, "Libre Baskerville", Georgia, serif;
  --font-stack-mono: "Liberation Mono", Menlo, Courier, monospace;

  --zindex-headroom: 1300;
  --zindex-popover: 1301;
  --zindex-mobile-nav: 1302;
  --zindex-tooltip: 1303;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* TODO: Dark mode colors */
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-stack-sans);
  --font-serif: var(--font-stack-serif);
}

/**
 * GLOBAL STYLES
 */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-stack-sans);
}

/**
 * MISC STYLES
 */
.no-scrollbars {
  scrollbar-width: none;
}
.no-scrollbars::-webkit-scrollbar {
  height: 0;
}

@keyframes profile-image-loader {
  0% {
    background-position: right;
  }
}
.profile-image-loading {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 33%,
      rgba(255, 255, 255, 0.25) 50%,
      rgba(0, 0, 0, 0) 66%
    )
    var(--color-gray-500);
  background-size: 300% 100%;
  animation: profile-image-loader 1s infinite;
}

@keyframes wrapped-notification-shimmer {
  from {
    background-position: right;
  }
  to {
    background-position: left;
  }
}
.wrapped-notification {
  background: linear-gradient(-75deg, #e05200 33%, #f09554 50%, #e05200 66%) #e05200;
  background-size: 300% 100%;
  animation: wrapped-notification-shimmer 2s infinite;
}

/**
 * HEADROOM STYLES
 */
.headroom-root .headroom {
  top: unset;
  left: 0;
  right: 0;
  z-index: var(--zindex-headroom);
}
.headroom-root .headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom-root .headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.headroom-root .headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom-root .headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

/**
 * Starting in v38, CkEditor puts a "powered by CkEditor" badge in the corner
 * when focused. This is removed by putting a `licenseKey` in the ckeditor
 * config; we do have one of those (since we're using cloud editing), it's
 * not connected to the client in the right place to suppress the banner, so,
 * just use CSS instead. AFAIK this wouldn't be a requirement of the relevant
 * license (GPL) even if we didn't have a separate commercial license, and we
 * do credit Ck in the editor-type dropdown if you have that enabled, just not
 * quite as prominently.
 */
.ck-powered-by,
.ck-powered-by-balloon {
  display: none !important;
}
