.content-base {
  color: var(--foreground);
  font-family: var(--font-stack-serif);
  font-size: 17px;
  font-weight: 450;
  word-break: break-word;
}
.content-base p:not(:first-child) {
  margin-top: 1em;
}
.content-base p:not(:last-child) {
  margin-bottom: 1em;
}
.content-base pre {
  background-color: var(--color-gray-100);
  border-radius: 5px;
  border: solid 1px var(--color-gray-300);
  padding: 13px;
  white-space: pre-wrap;
  margin: 1em 0;
}
.content-base code {
  font-family: var(--font-stack-mono);
  font-size: 0.7em;
  font-weight: 400;
  background-color: var(--color-gray-100);
  border-radius: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 1.42;
}
.content-base blockquote {
  font-weight: 450;
  padding: 16px;
  border-left: solid 3px var(--color-gray-300);
  margin: 0;
  font-size: 17px;
  line-height: 1.75em;
  font-family: var(--font-stack-serif);
  color: var(--color-gray-900);
}
.content-base ul {
  list-style-type: revert;
  padding-left: revert;
  margin: 0;
}
.content-base li {
  font-size: 17px;
  line-height: 1.75em;
  font-weight: 450;
  font-family: var(--font-stack-serif);
  color: var(--color-gray-900);
  margin-bottom: 6.5px;
}
.content-base h1,
.content-base h2,
.content-base h3,
.content-base h4,
.content-base h5,
.content-base h6 {
  color: var(--color-gray-1000);
  font-family: var(--font-stack-serif);
}
.content-base h1,
.content-base h2,
.content-base h3 {
  margin-top: 1em;
}
.content-base h1 {
  font-size: 31.2px;
  font-weight: 600;
  line-height: 1.25em;
  margin-left: -0.02em;
}
.content-base h1:first-child {
  margin-top: 0;
  margin-block-start: -3px;
}
.content-base h2 {
  font-size: 26px;
  font-weight: 650;
  line-height: 1.25em;
}
.content-base h2:first-child {
  margin-top: 0;
  margin-block-start: -2px;
}
.content-base h3 {
  font-size: 20.8px;
  font-weight: 600;
  line-height: 1.25em;
}
.content-base h3:first-child {
  margin-top: 0;
  margin-block-start: 0px;
}
.content-base h4 {
  font-size: 15.6px;
  font-weight: 600;
  line-height: 1.75em;
}
.content-base img {
  max-width: 100%;
}
.content-base sup {
  vertical-align: baseline;
  top: -0.6em;
  font-size: 65%;
  position: relative;
  line-height: 0;
}
.content-base sub {
  font-size: 70%;
  vertical-align: baseline;
  position: relative;
  top: 0.2em;
  padding-right: 0.07em;
}
.content-base a,
.content-base a:hover,
.content-base a:active {
  color: var(--color-primary);
}
.content-base a u,
.content-base a:hover u,
.content-base a:active u {
  text-decoration: none;
}
.content-base a:visited,
.content-base a.visited {
  color: var(--color-visited-link);
}
.content-base table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px double var(--color-table-border);
  margin: auto;
  height: 100%;
  text-align: left;
  width: 100%;
}
.content-base table * {
  font-family: var(--font-stack-sans);
  font-size: 14px;
  line-height: 1.4em;
}
.content-base table sup * {
  font-size: 10px;
}
.content-base table ul,
.content-base table ol {
  padding-left: 1.5em;
}
.content-base figure.table {
  width: fit-content;
  height: fit-content;
}
.content-base figure.table:has(> table > tbody > tr > td + td + td + td) {
  overflow-x: auto;
}
.content-base figure.table:has(> table > tbody > tr > td + td + td + td) table {
  width: 700px;
}
.content-base td,
.content-base th {
  min-width: 2em;
  padding: 0.4em;
  border: 1px double var(--color-table-cell-border);
  word-break: normal;
}
.content-base td p,
.content-base th p {
  margin: 0.5em 2px 0.5em 2px;
  line-height: 1.4em;
}
.content-base td p:first-of-type,
.content-base th p:first-of-type {
  margin-top: 0;
}
.content-base th {
  background: var(--color-table-header-bg);
  font-weight: 700;
}
.content-base figure {
  max-width: 100%;
  margin: 1em auto;
  text-align: center;
}
.content-base figcaption {
  font-size: 11.7px;
  font-weight: 450;
  font-family: var(--font-stack-serif);
  line-height: 1.75em;
  color: var(--color-gray-900);
}
.content-base ol > li > ol {
  list-style: lower-alpha;
}
.content-base ol > li > ol > li > ol {
  list-style: lower-roman;
}
.content-base u {
  text-decoration: none;
}
.content-base p.spoiler {
  margin: 0;
}
.content-base .spoiler {
  padding: 8px;
  pointer-events: auto;
}
.content-base div.spoilers {
  margin: 1em 0;
  overflow: auto;
}
.content-base .spoiler:not(:hover),
.content-base .spoiler:not(:hover) a,
.content-base .spoiler:not(:hover) a:hover,
.content-base .spoiler:not(:hover) a:focus,
.content-base .spoiler:not(:hover) a::after,
.content-base .spoiler:not(:hover) li,
.content-base .spoiler:not(:hover) code,
.content-base div.spoilers:not(:hover),
.content-base div.spoilers:not(:hover) a,
.content-base div.spoilers:not(:hover) a:hover,
.content-base div.spoilers:not(:hover) a:focus,
.content-base div.spoilers:not(:hover) a::after,
.content-base div.spoilers:not(:hover) li,
.content-base div.spoilers:not(:hover) code,
.content-base .spoilers > p:hover ~ p,
.content-base .spoilers > p:hover ~ p a,
.content-base .spoilers > p:hover ~ p a:hover,
.content-base .spoilers > p:hover ~ p a:focus,
.content-base .spoilers > p:hover ~ p a::after,
.content-base .spoilers > p:hover ~ p li,
.content-base .spoilers > p:hover ~ p code {
  background-color: var(--color-gray-1000);
  color: var(--color-gray-1000);
}
.content-base div.spoilers:hover {
  background: var(--color-spoiler-hover);
}
.content-base div.spoilers > p {
  margin: 0 !important;
  padding: 0.5em 8px !important;
}
.content-base p.spoiler-v2 {
  margin: 0;
  padding: 0.5em 8px;
}
.content-base .spoilers:not(:hover)::selection,
.content-base .spoilers:not(:hover) ::selection {
  background-color: transparent;
}
.content-base div.metaculus-preview {
  background-color: var(--color-metaculus-preview);
}
.content-base div.metaculus-preview iframe,
.content-base div.manifold-preview iframe,
.content-base div.strawpoll-embed iframe,
.content-base div.metaforecast-preview iframe,
.content-base div.estimaker-preview iframe,
.content-base div.viewpoints-preview iframe,
.content-base div.owid-preview iframe {
  width: 100%;
  height: 400px;
  border: none;
}
.content-base div.neuronpedia-preview iframe {
  width: 100%;
  height: 360px;
  max-width: 639px;
  border: 1px solid var(--color-gray-300);
  border-radius: 6px;
}
.content-base div.calendly-preview iframe {
  width: calc(100% - 10px);
  height: 750px;
  border: 2px solid var(--color-gray-200);
  border-radius: 10px;
  padding: 0;
  margin-right: 5px;
  margin-left: 5px;
}
.content-base div.estimaker-preview,
.content-base div.viewpoints-preview {
  display: flex;
}
.content-base figure.media div[data-oembed-url*="youtube.com"],
.content-base figure.media div[data-oembed-url*="youtu.be"] {
  position: relative;
  height: 0;
  padding-bottom: 56.2493%;
}
.content-base figure.media div[data-oembed-url*="youtube.com"] iframe,
.content-base figure.media div[data-oembed-url*="youtu.be"] iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
}
.content-base .footnote-item > * {
  vertical-align: text-top;
}
.content-base .footnote-back-link {
  position: relative;
  top: -0.2em;
}
.content-base .footnotes .footnote-back-link > sup {
  margin-right: 0;
}
.content-base .footnote-content {
  display: inline-block;
  padding: 0 0.3em;
  width: 95%;
}
.content-base .detailsBlock {
  border-radius: 8px;
  margin-top: 0;
  margin-bottom: 8px;
}
.content-base .detailsBlockTitle {
  padding: 8px;
  border-radius: 0;
}
.content-base .detailsBlockTitle > * {
  display: inline;
}
.content-base .detailsBlockTitle[open] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.content-base summary.detailsBlockTitle {
  cursor: pointer;
}
.content-base .detailsBlockContent {
  padding: 0 8px 8px 20px;
}
.content-base .detailsBlockContent > p:last-child,
.content-base .detailsBlockTitle > p:last-child {
  margin-bottom: 0 !important;
}
.content-base
  .detailsBlockTitle
  p:has(> br[data-cke-filler="true"]:only-child)::after {
  content: "Collapsible Section Title";
  color: var(--color-details-title);
  pointer-events: none;
  position: absolute;
  top: 8px;
}
.content-base .detailsBlock.closed .detailsBlockContent {
  display: none;
}
.content-base div.detailsBlockTitle {
  position: relative;
  padding-left: 20px;
  font-family: var(--font-stack-sans);
  font-size: 20.8px;
  line-height: 1.25em;
  font-weight: 600;
}
.content-base div.detailsBlockTitle::before {
  content: "▼";
  cursor: pointer;
  font-size: 12px;
  padding-right: 4px;
  position: absolute;
  left: 0;
}
.content-base .detailsBlock.closed div.detailsBlockTitle::before {
  content: "▶";
}
.content-base .conditionallyVisibleBlock {
  border: 1px solid var(--color-conditionally-visible);
  border-radius: 4px;
  padding: 8px;
}
.content-base .conditionallyVisibleBlock.defaultHidden {
  display: none;
}
.content-base .ck-cta-button {
  display: block;
  font-family: var(--font-stack-sans);
  min-width: 30px;
  width: fit-content;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-transform: none;
  padding: 12px 16px;
  border-radius: 6px;
  box-shadow: none;
  background-color: var(--color-primary);
  color: var(--color-gray-50);
  transition: background-color 0.3s ease;
}
.content-base .ck-cta-button:hover {
  opacity: 1;
  background-color: var(--color-primary-dark);
  color: var(--color-gray-50);
}
.content-base .ck-cta-button:visited,
.content-base .ck-cta-button.visited,
.content-base .ck-cta-button:visited:hover,
.content-base .ck-cta-button.visited:hover {
  color: var(--color-gray-50);
}
.content-base .ck-cta-button:disabled {
  background-color: var(--color-primary);
  color: var(--color-gray-50);
  opacity: 0.5;
}
.content-base .ck-cta-button-centered {
  margin: auto;
}
.content-base .footnotes {
  font-size: 0.9em;
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid var(--color-gray-300);
}
.content-base .footnotes sup {
  margin-right: 10px;
}
.content-base .footnotes ol {
  margin-block-start: 1em;
  padding-inline-start: 0;
  margin-inline-start: 1em;
}
.content-base .footnotes li {
  font-size: 0.9em;
}
.content-base .footnotes blockquote {
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 1px;
  padding-left: 3px;
  margin-top: -10px;
}
.content-base .footnotes-sep {
  display: none;
}
.content-base hr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 32px 0;
  border: none;
  background: transparent;
  text-align: center;
}
.content-base hr:after {
  margin-left: 12px;
  color: var(--color-post-hr);
  font-size: 13px;
  letter-spacing: 12px;
  content: "•••";
}
