.post-body {
  color: var(--foreground);
  font-family: var(--font-stack-serif);
  font-size: 17px;
  font-weight: 450;
  word-break: break-word;
}
.post-body p:not(:first-child) {
  margin-top: 1em;
}
.post-body p:not(:last-child) {
  margin-bottom: 1em;
}
.post-body pre {
  background-color: var(--color-gray-100);
  border-radius: 5px;
  border: solid 1px var(--color-gray-300);
  padding: 13px;
  white-space: pre-wrap;
  margin: 1em 0;
}
.post-body code {
  font-family: var(--font-stack-mono);
  font-size: 0.7em;
  font-weight: 400;
  background-color: var(--color-gray-100);
  border-radius: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 1.42;
}
.post-body blockquote {
  font-weight: 450;
  padding: 16px;
  border-left: solid 3px var(--color-gray-300);
  margin: 0;
  font-size: 17px;
  line-height: 1.75em;
  font-family: var(--font-stack-serif);
  color: var(--color-gray-900);
}
.post-body li {
  font-size: 17px;
  line-height: 1.75em;
  font-weight: 450;
  font-family: var(--font-stack-serif);
  color: var(--color-gray-900);
  margin-bottom: 6.5px;
}
.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5,
.post-body h6 {
  color: var(--color-gray-1000);
  font-family: var(--font-stack-serif);
}
.post-body h1,
.post-body h2,
.post-body h3 {
  margin-top: 1em;
}
.post-body h1 {
  font-size: 31.2px;
  font-weight: 600;
  line-height: 1.25em;
  margin-left: -0.02em;
}
.post-body h1:first-child {
  margin-top: 0;
  margin-block-start: -3px;
}
.post-body h2 {
  font-size: 26px;
  font-weight: 650;
  line-height: 1.25em;
}
.post-body h2:first-child {
  margin-top: 0;
  margin-block-start: -2px;
}
.post-body h3 {
  font-size: 20.8px;
  font-weight: 600;
  line-height: 1.25em;
}
.post-body h3:first-child {
  margin-top: 0;
  margin-block-start: 0px;
}
.post-body h4 {
  font-size: 15.6px;
  font-weight: 600;
  line-height: 1.75em;
}
.post-body img {
  max-width: 100%;
}
.post-body sup {
  vertical-align: baseline;
  top: -0.6em;
  font-size: 65%;
  position: relative;
  line-height: 0;
}
.post-body sub {
  font-size: 70%;
  vertical-align: baseline;
  position: relative;
  top: 0.2em;
  padding-right: 0.07em;
}
.post-body a,
.post-body a:hover,
.post-body a:active {
  color: var(--color-primary);
}
.post-body a u,
.post-body a:hover u,
.post-body a:active u {
  text-decoration: none;
}
.post-body a:visited,
.post-body a.visited {
  color: var(--color-visited-link);
}
.post-body table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px double var(--color-table-border);
  margin: auto;
  height: 100%;
  text-align: left;
  width: 100%;
}
.post-body table * {
  font-family: var(--font-stack-sans);
  font-size: 14px;
  line-height: 1.4em;
}
.post-body table sup * {
  font-size: 10px;
}
.post-body table ul,
.post-body table ol {
  padding-left: 1.5em;
}
.post-body figure.table {
  width: fit-content;
  height: fit-content;
}
.post-body figure.table:has(> table > tbody > tr > td + td + td + td) {
  overflow-x: auto;
}
.post-body figure.table:has(> table > tbody > tr > td + td + td + td) table {
  width: 700px;
}
.post-body td,
.post-body th {
  min-width: 2em;
  padding: 0.4em;
  border: 1px double var(--color-table-cell-border);
  word-break: normal;
}
.post-body td p,
.post-body th p {
  margin: 0.5em 2px 0.5em 2px;
  line-height: 1.4em;
}
.post-body td p:first-of-type,
.post-body th p:first-of-type {
  margin-top: 0;
}
.post-body th {
  background: var(--color-table-header-bg);
  font-weight: 700;
}
.post-body figure {
  max-width: 100%;
  margin: 1em auto;
  text-align: center;
}
.post-body figcaption {
  font-size: 11.7px;
  font-weight: 450;
  font-family: var(--font-stack-serif);
  line-height: 1.75em;
  color: var(--color-gray-900);
}
.post-body ol > li > ol {
  list-style: lower-alpha;
}
.post-body ol > li > ol > li > ol {
  list-style: lower-roman;
}
.post-body u {
  text-decoration: none;
}
.post-body p.spoiler {
  margin: 0;
}
.post-body .spoiler {
  padding: 8px;
  pointer-events: auto;
}
.post-body div.spoilers {
  margin: 1em 0;
  overflow: auto;
}
.post-body .spoiler:not(:hover),
.post-body .spoiler:not(:hover) a,
.post-body .spoiler:not(:hover) a:hover,
.post-body .spoiler:not(:hover) a:focus,
.post-body .spoiler:not(:hover) a::after,
.post-body .spoiler:not(:hover) li,
.post-body .spoiler:not(:hover) code,
.post-body div.spoilers:not(:hover),
.post-body div.spoilers:not(:hover) a,
.post-body div.spoilers:not(:hover) a:hover,
.post-body div.spoilers:not(:hover) a:focus,
.post-body div.spoilers:not(:hover) a::after,
.post-body div.spoilers:not(:hover) li,
.post-body div.spoilers:not(:hover) code,
.post-body .spoilers > p:hover ~ p,
.post-body .spoilers > p:hover ~ p a,
.post-body .spoilers > p:hover ~ p a:hover,
.post-body .spoilers > p:hover ~ p a:focus,
.post-body .spoilers > p:hover ~ p a::after,
.post-body .spoilers > p:hover ~ p li,
.post-body .spoilers > p:hover ~ p code {
  background-color: var(--color-gray-1000);
  color: var(--color-gray-1000);
}
.post-body div.spoilers:hover {
  background: var(--color-spoiler-hover);
}
.post-body div.spoilers > p {
  margin: 0 !important;
  padding: 0.5em 8px !important;
}
.post-body p.spoiler-v2 {
  margin: 0;
  padding: 0.5em 8px;
}
.post-body .spoilers:not(:hover)::selection,
.post-body .spoilers:not(:hover) ::selection {
  background-color: transparent;
}
.post-body div.metaculus-preview {
  background-color: var(--color-metaculus-preview);
}
.post-body div.metaculus-preview iframe,
.post-body div.manifold-preview iframe,
.post-body div.strawpoll-embed iframe,
.post-body div.metaforecast-preview iframe,
.post-body div.estimaker-preview iframe,
.post-body div.viewpoints-preview iframe,
.post-body div.owid-preview iframe {
  width: 100%;
  height: 400px;
  border: none;
}
.post-body div.neuronpedia-preview iframe {
  width: 100%;
  height: 360px;
  max-width: 639px;
  border: 1px solid var(--color-gray-300);
  border-radius: 6px;
}
.post-body div.calendly-preview iframe {
  width: calc(100% - 10px);
  height: 750px;
  border: 2px solid var(--color-gray-200);
  border-radius: 10px;
  padding: 0;
  margin-right: 5px;
  margin-left: 5px;
}
.post-body div.estimaker-preview,
.post-body div.viewpoints-preview {
  display: flex;
}
.post-body figure.media div[data-oembed-url*="youtube.com"],
.post-body figure.media div[data-oembed-url*="youtu.be"] {
  position: relative;
  height: 0;
  padding-bottom: 56.2493%;
}
.post-body figure.media div[data-oembed-url*="youtube.com"] iframe,
.post-body figure.media div[data-oembed-url*="youtu.be"] iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
}
.post-body .footnote-item > * {
  vertical-align: text-top;
}
.post-body .footnote-back-link {
  position: relative;
  top: -0.2em;
}
.post-body .footnotes .footnote-back-link > sup {
  margin-right: 0;
}
.post-body .footnote-content {
  display: inline-block;
  padding: 0 0.3em;
  width: 95%;
}
.post-body .detailsBlock {
  border-radius: 8px;
  margin-top: 0;
  margin-bottom: 8px;
}
.post-body .detailsBlockTitle {
  padding: 8px;
  border-radius: 0;
}
.post-body .detailsBlockTitle > * {
  display: inline;
}
.post-body .detailsBlockTitle[open] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.post-body summary.detailsBlockTitle {
  cursor: pointer;
}
.post-body .detailsBlockContent {
  padding: 0 8px 8px 20px;
}
.post-body .detailsBlockContent > p:last-child,
.post-body .detailsBlockTitle > p:last-child {
  margin-bottom: 0 !important;
}
.post-body .detailsBlockTitle p:has(> br[data-cke-filler="true"]:only-child)::after {
  content: "Collapsible Section Title";
  color: var(--color-details-title);
  pointer-events: none;
  position: absolute;
  top: 8px;
}
.post-body .detailsBlock.closed .detailsBlockContent {
  display: none;
}
.post-body div.detailsBlockTitle {
  position: relative;
  padding-left: 20px;
  font-family: var(--font-stack-sans);
  font-size: 20.8px;
  line-height: 1.25em;
  font-weight: 600;
}
.post-body div.detailsBlockTitle::before {
  content: "▼";
  cursor: pointer;
  font-size: 12px;
  padding-right: 4px;
  position: absolute;
  left: 0;
}
.post-body .detailsBlock.closed div.detailsBlockTitle::before {
  content: "▶";
}
.post-body .conditionallyVisibleBlock {
  border: 1px solid var(--color-conditionally-visible);
  border-radius: 4px;
  padding: 8px;
}
.post-body .conditionallyVisibleBlock.defaultHidden {
  display: none;
}
.post-body .ck-cta-button {
  display: block;
  font-family: var(--font-stack-sans);
  min-width: 30px;
  width: fit-content;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-transform: none;
  padding: 12px 16px;
  border-radius: 6px;
  box-shadow: none;
  background-color: var(--color-primary);
  color: var(--color-gray-50);
  transition: background-color 0.3s ease;
}
.post-body .ck-cta-button:hover {
  opacity: 1;
  background-color: var(--color-primary-dark);
  color: var(--color-gray-50);
}
.post-body .ck-cta-button:visited,
.post-body .ck-cta-button.visited,
.post-body .ck-cta-button:visited:hover,
.post-body .ck-cta-button.visited:hover {
  color: var(--color-gray-50);
}
.post-body .ck-cta-button:disabled {
  background-color: var(--color-primary);
  color: var(--color-gray-50);
  opacity: 0.5;
}
.post-body .ck-cta-button-centered {
  margin: auto;
}
.post-body .footnotes {
  font-size: 0.9em;
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid var(--color-gray-300);
}
.post-body .footnotes sup {
  margin-right: 10px;
}
.post-body .footnotes ol {
  margin-block-start: 1em;
  padding-inline-start: 0;
  margin-inline-start: 1em;
}
.post-body .footnotes li {
  font-size: 0.9em;
}
.post-body .footnotes blockquote {
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 1px;
  padding-left: 3px;
  margin-top: -10px;
}
.post-body .footnotes-sep {
  display: none;
}
.post-body hr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 32px 0;
  border: none;
  background: transparent;
  text-align: center;
}
.post-body hr:after {
  margin-left: 12px;
  color: var(--color-post-hr);
  font-size: 13px;
  letter-spacing: 12px;
  content: "•••";
}
