.tag-body {
  cursor: default;
  font-family: var(--font-stack-sans);
  font-size: 14px;
  line-height: 1.5em;
  color: var(--color-gray-900);
}
.tag-body h1 {
  font-family: var(--font-stack-sans);
  margin-top: 3rem;
  font-size: 1.6rem;
  font-weight: 600;
}
.tag-body h2 {
  font-family: var(--font-stack-sans);
  margin-top: 1.5rem;
  font-size: 1.4rem;
  font-weight: 500;
}
.tag-body h3 {
  font-family: var(--font-stack-sans);
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.tag-body h1:first-child,
.tag-body h2:first-child,
.tag-body h3:first-child {
  margin-top: 0;
}
.tag-body li {
  font-size: 14px;
  font-weight: 450;
  line-height: 1.5em;
  font-family: var(--font-stack-sans);
}
.tag-body blockquote {
  font-size: 14px;
  font-weight: 450;
  line-height: 1.5em;
  margin: 0 0 0 12px;
  padding: 8px 24px 8px 16px;
  font-family: var(--font-stack-sans);
}
.tag-body hr {
  margin: 12px 0;
}
