name: CI
on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup environment
        uses: ./.github/actions/setup-environment
      - name: Run lint
        run: npm run lint
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup environment
        uses: ./.github/actions/setup-environment
      - name: Run typecheck
        run: yarn run tsc
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup environment
        uses: ./.github/actions/setup-environment
      - name: Run tests
        run: npm run test
